@use "/src/colors";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 32px;


  & h1 {
    animation: width-resize 100s ease-in-out infinite;
    font-size: 300px;
    text-align: center;
  }

  & p {
    animation: width-resize 100s ease-in-out infinite;
    font-size: 64px;
  }
}

@keyframes width-resize {
  0%, 100% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 0.75em;
  }

}