@use "/src/colors";

.container {
  padding: 48px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.logo {
  width: 95%;
  max-width: 535px;
}

.header {
  color: colors.$accent-text-color;
  text-align: center;

}

