$bg: #F9F9F9;

$primary-bg: #548C77;
$primary-hover-bg: #9ED7B9;
$primary-inactive-bg: #D4D4D4;
$primary-pressed-bg: #548C77;

$secondary-bg: #F9F9F9;
$secondary-hover-bg: #9ED7B9;
$secondary-inactive-bg: #D4D4D4;
$secondary-pressed-bg: #548C77;

$primary-fg: #F9F9F9;
$secondary-fg: #454545;



$text-color: #454545;
$light-color: #F9F9F9;
$dark-color: #3D4943;
$accent-text-color: #548C77;
$inactive-text-color: #D4D4D4;

$dark-bg: #3D4943;

$border-dark: 1px solid $text-color;
$border-light: 1px solid $light-color;

